body {
    background: rgb(93, 83, 209);
    font: normal 20pt Arial;
    display: flex;
    justify-content: center;
    
}

h1 {
    color: white;
    margin-top: 80px;
    padding-bottom: 50px;
}

a {
    color: black;
    margin-left:90px;
}


a:hover {
    color: blue;
}
